<% if comment.valid? %>
  <li id="comment-<%= comment.id %>">
    <p><%= comment.content %></p>
    <%= link_to '削除する', comment, method: :delete, data: { confirm: '本当に削除しますか？' }, remote: true %>
  </li>
<% end %>
