<p><%= @user.name %></p>

<ul>
  <% @posts.each do |post| %>
    <li>
      <p><%= link_to post.title, post_path(post.id) %></p>
    </li>
  <% end %>
</ul>

<div class="follow-unfollow-btn">
  <%= render 'relationships/follow_unfollow_btn', user: @user %>
</div>
