<% flash.each do |msg_type, msg| %>
  <% if msg_type == 'success' %>
    <div class="success-message">
      <p><%= msg %></p>
    </div>
  <% elsif msg_type == 'danger' %>
    <div class="danger-message">
      <p><%= msg %></p>
    </div>
  <% end %>
<% end %>
