<% flash.each do |msg_type, msg| %>
  <div id="flash-message">
    <% if msg_type == 'success' %>
      <p class="success-message"><%= msg %></p>
    <% elsif msg_type == 'danger' %>
      <p class="danger-message"><%= msg %></p>
    <% end %>
  </div>
<% end %>
