/* Common Style */
.category-menu {
  .menu-title {
    background-color: #81c784;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    i {
      margin-left: 6px;
    }
  }
  .sub-menu {
    display: none;
    width: 250px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 3px 6px #ccc;
    z-index: 10;
    a {
      display: inline-block;
      width: 100%;
      color: #333;
    }
  }
}

.category-menu:hover .sub-menu {
  display: block;
}

.category-menu .sub-menu {
  .menu1:hover {
    color: #fff;
    background-color: #f06292;
  }
  .menu2:hover {
    color: #fff;
    background-color: #b388ff;
  }
  .menu3:hover {
    color: #fff;
    background-color: #283593;
  }
  .menu4:hover {
    color: #fff;
    background-color: #64b5f6;
  }
  .menu5:hover {
    color: #fff;
    background-color: #00695c;
  }
  .menu6:hover {
    color: #fff;
    background-color: #8bc34a;
  }
  .menu7:hover {
    color: #fff;
    background-color: #9e9d24;
  }
  .menu8:hover {
    color: #fff;
    background-color: #fb8c00;
  }
  .menu9:hover {
    color: #fff;
    background-color: #6d4c41;
  }
  .menu10:hover {
    color: #fff;
    background-color: #546e7a;
  }
}

/* Smartphone Style */
@media all and (max-width: 500px) {
  .category-menu {
    display: inline-block;
    .menu-title {
      display: inline-block;
    }
    .sub-menu {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/* Tablet and PC Style */
@media all and (min-width: 501px) {
  .category-menu .menu-title {
    display: table-cell;
    height: 50px;
    vertical-align: middle;
  }
}
