<div class="comment-form">
  <%= form_with(model: @comment) do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <div class="form-parts">
      <%= f.text_area :content, rows: '4', placeholder: 'コメントを書く' %>
      <p class="error-message"></p>
    </div>
    <button class="btn submit">コメントする</button>
  <% end %>
</div>
