<% popular_posts.each do |post| %>
  <div class="col s12 m6 l4 xl3">
    <div class="card center-align">
      <div class="card-image">
        <%= image_tag 'spring.jpg', alt: '画像' %>
      </div>
      <div class="card-content">
        <p><%= link_to post.title, post %></p>
        <span>いいね数：<%= post.likes.length %></span>
      </div>
      <div class="card-action">
        <%= link_to post.user.name, post.user %>
      </div>
    </div>
  </div>
<% end %>
