<div class="sort-menu">
  <span class="menu-title">並べ替え<%= icon('fas', 'caret-down') %></span>
  <div class="sub-menu">
    <ul>
      <li><%= link_to '新着順', root_path %></li>
      <li><%= link_to 'いいね数順', popular_posts_path %></li>
    </ul>
  </div>
</div>
