<ul>
    <li>
      <p><%= @post.user.name %></p>
      <p><%= @post.title %></p>
      <p><%= @post.content %></p>
    </li>
</ul>

<% if current_user?(@post.user) %>
  <%= link_to '削除する', @post, method: :delete, data: { confirm: '本当に削除しますか？' } %>
<% end %>
