/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "variable";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.6em;
  color: #333;
  background-color: #fafafa;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1a0dab;
}

img {
  border-radius: 50%;
  border-top: solid 3px #eb00ff;
  border-right: solid 3px #069a48;
  border-bottom: solid 3px #ffe000;
  border-left: solid 3px #00e7ff;
}

h1 {
  margin: 0 0 30px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
}

p {
  line-height: 1.7;
}

.btn {
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  transition: opacity 0.4s;
  &:hover {
    opacity: 0.7;
  }
}

.m-btn {
  background-color: $main-color;
}

.a-btn {
  background-color: $accent-color;
}

.pagination {
  display: none;
}

.fa-star {
  color: #ffeb3b;
}

#flash-message {
  .success-message,
  .danger-message {
    position: relative;
    top: -40px;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
  }
  .success-message {
    background-color: #81d4fa;
  }
  .danger-message {
    background-color: #ef9a9a;
  }
}

header,
footer {
  background-color: $main-color;
}

main {
  padding: 100px 15px 44px;
  text-align: center;
}
