/* Common Style */
.category-color1 {
  background-color: #f06292;
  color: #fff;
  &:before {
    background-color: #f06292;
  }
  &:after {
    background-color: #ad1457;
  }
}

.category-color2 {
  background-color: #b388ff;
  color: #fff;
  &:before {
    background-color: #b388ff;
  }
  &:after {
    background-color: #5e35b1;
  }
}

.category-color3 {
  background-color: #3f51b5;
  color: #fff;
  &:before {
    background-color: #3f51b5;
  }
  &:after {
    background-color: #1a237e;
  }
}

.category-color4 {
  background-color: #64b5f6;
  color: #fff;
  &:before {
    background-color: #64b5f6;
  }
  &:after {
    background-color: #1976d2;
  }
}

.category-color5 {
  background-color: #00695c;
  color: #fff;
  &:before {
    background-color: #00695c;
  }
  &:after {
    background-color: #004d40;
  }
}

.category-color6 {
  background-color: #8bc34a;
  color: #fff;
  &:before {
    background-color: #8bc34a;
  }
  &:after {
    background-color: #558b2f;
  }
}

.category-color7 {
  background-color: #9e9d24;
  color: #fff;
  &:before {
    background-color: #9e9d24;
  }
  &:after {
    background-color: #827717;
  }
}

.category-color8 {
  background-color: #fb8c00;
  color: #fff;
  &:before {
    background-color: #fb8c00;
  }
  &:after {
    background-color: #e65100;
  }
}

.category-color9 {
  background-color: #6d4c41;
  color: #fff;
  &:before {
    background-color: #6d4c41;
  }
  &:after {
    background-color: #4e342e;
  }
}

.category-color10 {
  background-color: #546e7a;
  color: #fff;
  &:before {
    background-color: #546e7a;
  }
  &:after {
    background-color: #37474f;
  }
}
