@import "variable";

/* Common Style */
.category-color1 {
  background-color: $category-color-1;
  &:before {
    background-color: $category-color-1;
  }
  &:after {
    background-color: #c2185b;
  }
}

.category-color2 {
  background-color: $category-color-2;
  &:before {
    background-color: $category-color-2;
  }
  &:after {
    background-color: #7b1fa2;
  }
}

.category-color3 {
  background-color: $category-color-3;
  &:before {
    background-color: $category-color-3;
  }
  &:after {
    background-color: #303f9f;
  }
}

.category-color4 {
  background-color: $category-color-4;
  &:before {
    background-color: $category-color-4;
  }
  &:after {
    background-color: #0288d1;
  }
}

.category-color5 {
  background-color: $category-color-5;
  &:before {
    background-color: $category-color-5;
  }
  &:after {
    background-color: #00796b;
  }
}

.category-color6 {
  background-color: $category-color-6;
  &:before {
    background-color: $category-color-6;
  }
  &:after {
    background-color: #689f38;
  }
}

.category-color7 {
  background-color: $category-color-7;
  &:before {
    background-color: $category-color-7;
  }
  &:after {
    background-color: #827717;
  }
}

.category-color8 {
  background-color: $category-color-8;
  &:before {
    background-color: $category-color-8;
  }
  &:after {
    background-color: #e64a19;
  }
}

.category-color9 {
  background-color: $category-color-9;
  &:before {
    background-color: $category-color-9;
  }
  &:after {
    background-color: #5d4037;
  }
}

.category-color10 {
  background-color: $category-color-10;
  &:before {
    background-color: $category-color-10;
  }
  &:after {
    background-color: #455a64;
  }
}
