@import "variable";

/* Common Style */
.category-menu,
.sort-menu {
  cursor: pointer;
  .menu-title {
    background-color: $main-color;
    color: #fff;
    padding: 10px;
    i {
      margin-left: 6px;
    }
  }
  .sub-menu {
    display: none;
    text-align: start;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 3px 6px #ccc;
    z-index: 10;
    a {
      display: inline-block;
      padding-left: 10px;
      width: 100%;
      color: #333;
    }
  }
  &:hover .sub-menu {
    display: block;
  }
}

.category-menu {
  margin-right: 15px;
  .sub-menu {
    width: 228px;
    .menu:hover {
      color: #fff;
    }
    .menu1:hover {
      background-color: $category-color-1;
    }
    .menu2:hover {
      background-color: $category-color-2;
    }
    .menu3:hover {
      background-color: $category-color-3;
    }
    .menu4:hover {
      background-color: $category-color-4;
    }
    .menu5:hover {
      background-color: $category-color-5;
    }
    .menu6:hover {
      background-color: $category-color-6;
    }
    .menu7:hover {
      background-color: $category-color-7;
    }
    .menu8:hover {
      background-color: $category-color-8;
    }
    .menu9:hover {
      background-color: $category-color-9;
    }
    .menu10:hover {
      background-color: $category-color-10;
    }
  }
}

.sort-menu .sub-menu a {
  padding: 10px;
  &:hover {
    background-color: #eee;
  }
}
