form {
  max-width: 800px;
  margin: 0 auto;
  button.submit {
    background-color: #4db6ac;
    font-size: 16px;
    cursor: pointer;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.form-parts {
  width: 68%;
  margin: 0 auto 30px;
  text-align: left;
  span.required,
  span.optional {
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
  }
  span.required {
    background-color: #ef5350;
  }
  span.optional {
    background-color: #424242;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="file"],
  select,
  textarea {
    width: 100%;
    padding: 15px;
    margin-top: 8px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    outline: none;
  }
  input[type="file"] {
    border: none;
    padding-left: 0;
  }
  select {
    padding-top: 10px;
    height: 50px;
  }
  .error-message {
    color: #ef5350;
    margin: 5px 0 0;
  }
  .check {
    margin-top: 8px;
  }
}
