@import "variable";

/* Common Style */
.form {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  padding-bottom: 20px;
  h1 {
    color: #fff;
    background-color: $main-color;
    border-radius: 10px 10px 0 0;
    padding: 10px 0;
    font-size: 28px;
  }
  form {
    padding: 0 10px;
  }
  .submit i,
  .easy-login i {
    margin-left: 3px;
  }
  .submit {
    font-size: 16px;
    cursor: pointer;
    border: 0;
    &:focus {
      outline: none;
    }
  }
  .easy-login {
    display: inline-block;
    margin-top: 20px;
  }
  .user-signup {
    margin-bottom: 0;
    a:hover {
      text-decoration: underline;
    }
  }
}

.form-parts {
  width: 68%;
  margin: 0 auto 30px;
  text-align: start;
  span.required,
  span.optional {
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
  }
  span.required {
    background-color: #ef5350;
  }
  span.optional {
    background-color: #424242;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="file"],
  select,
  textarea {
    background-color: #eee;
    width: 100%;
    padding: 15px;
    margin-top: 8px;
    font-size: 16px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    outline: none;
    &:focus {
      border-color: #4dabf7;
    }
  }
  input[type="file"] {
    background-color: transparent;
    border: 0;
    padding-left: 0;
  }
  select {
    padding-top: 14px;
  }
  .error-message {
    color: #ef5350;
    margin: 5px 0 0;
  }
  .check,
  .status {
    margin-top: 8px;
  }
  .explanation {
    font-weight: bold;
  }
}

/* Smartphone Style */
@media all and (max-width: 500px) {
  .form-parts {
    width: 100%;
  }
}
