.login-form {
  text-align: center;
  h1 {
    margin: 0 0 30px;
  }
  .easy-login {
    display: inline-block;
    margin-top: 20px;
    background-color: #f9a825;
  }
  p a:hover {
    text-decoration: underline;
  }
}
