@import "variable";

/* Common Style */
.menu-search {
  display: flex;
  .menus {
    display: flex;
    .category-menu,
    .sort-menu {
      .menu-title {
        display: table-cell;
        height: 50px;
        vertical-align: middle;
      }
    }
  }
  .search-form {
    display: flex;
    input[type="text"] {
      width: 100%;
      padding: 15px;
      font-size: 16px;
      border: 1px solid #ced4da;
      border-right: none;
      outline: none;
    }
    button {
      padding: 0 20px;
      border: 1px solid #ced4da;
      border-left: none;
      background-color: $main-color;
      color: #fff;
      cursor: pointer;
      &:hover {
        color: #333;
      }
    }
  }
}

/* Smartphone and Tablet Style */
@media all and (max-width: 809px) {
  .menu-search {
    flex-direction: column;
    .menus {
      order: 2;
    }
    .search-form {
      order: 1;
      margin: 0 0 20px;
    }
  }
}

/* Tablet and PC Style */
@media all and (min-width: 810px) {
  .menu-search {
    justify-content: space-between;
    padding: 0 50px;
    .search-form {
      margin: 0;
    }
  }
}

@media all and (min-width: 500px) {
  .menu-search .search-form {
    width: 60%;
  }
}
