.pagination {
  display: none;
  margin-top: 30px;
  letter-spacing: 4px;
  .current {
    color: #81c784;
  }
  a {
    color: #333;
    transition: color 0.4s;
    &:hover {
      color: #81c784;
    }
  }
}
