/* Common Style */
.posts .post {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px #ccc;
  .contents a:nth-of-type(2) {
    color: #333;
    .category span {
      font-size: 14px;
      color: #fff;
      padding: 3px;
    }
    .title h2 {
      font-size: 18px;
      font-weight: normal;
    }
    .comment-like {
      font-size: 14px;
      .comment i {
        color: #ffb300;
      }
      .like i {
        color: #e91e63;
      }
    }
  }
}

/* Smartphone Style */
@media all and (max-width: 500px) {
  .posts .post {
    text-align: center;
  }
}

/* Tablet and PC Style */
@media all and (min-width: 501px) {
  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .post {
      width: 500px;
      .contents {
        display: flex;
        a:nth-of-type(1) {
          margin-right: 20px;
        }
        a:nth-of-type(2) {
          width: 100%;
          .comment-like {
            text-align: right;
          }
        }
      }
    }
  }
}
