/* Color */
$main-color: #81c784;
$accent-color: #f9a825;
$heart-color: #e91e63;
$category-color-1: #f06292;
$category-color-2: #ba68c8;
$category-color-3: #7986cb;
$category-color-4: #4fc3f7;
$category-color-5: #4db6ac;
$category-color-6: #8bc34a;
$category-color-7: #9e9d24;
$category-color-8: #ff7043;
$category-color-9: #a1887f;
$category-color-10: #90a4ae;
